<section class="info">
  <div class="headlines">
    <h1 class="md-headline">Orbit:</h1>
    <h1 class="md-headline">Roation:</h1>
    <h1 class="md-headline">Mass:</h1>
    <h1 class="md-headline">Volume:</h1>
    <h1 class="md-headline">Distance:</h1>
  </div>
  <div class="values">
    <p>
      {{planet.info.orbit}}
    </p>

    <p>
      {{planet.info.rotation}}
    </p>

    <p>
      {{planet.info.mass}}
    </p>

    <p>
      {{planet.info.volume}}
    </p>

    <p>
      {{planet.info.distance}}
    </p>
  </div>
</section>
